.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 260px));
  justify-content: center;
  padding: 50px 30px;
}

@media screen and (max-width: 700px) {
  .card-container {
    padding: 40px 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  }
}
