.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 120px;
  width: 100%;
}
.logo {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 10px;
  color: var(--light-2);
}
.nav-links {
  list-style: none;
  padding: 0;
}
.nav-links li {
  display: inline-block;
  margin: 10px 15px;
  font-size: 1.1rem;
}
.link {
  color: inherit;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 15px;
  transition: 250ms;
}
.link:hover {
  background-color: var(--dark-4-trans);
  color: var(--light-2);
}
.active {
  color: var(--light-2);
}

@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
  }
  .nav-links li {
    margin: 10px 5px;
  }
  .link {
    padding: 8px;
  }
}
