* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
:root {
  --dark-1: #000000;
  --dark-1-trans: #00000070;
  --dark-2: #3E065F;
  --dark-3: #700B97;
  --dark-3-trans: #7c0ba8;
  --dark-4: #8E05C2;
  --dark-4-trans: #8E05C260;
  --dark-5: #202020d7;
  --light-1: #ffffff;
  --light-2: #ECB365;
  --light-1-trans: #e0dfdff1;
}
body {
  background: linear-gradient(var(--dark-2), var(--dark-1) );
  background-attachment: fixed;
  color: var(--light-1);
  overflow-x: hidden;
}
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}