.search-card {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px var(--dark-4-trans);
  display: flex;
}
.cover {
  width: 20%;
  min-width: 80px;
  max-width: 100px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;
}
.cover-default {
  border: 1px solid var(--dark-2);
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.details {
  display: flex;
  flex-direction: column;
}
small {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 5px;
}
.btn {
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 20px 10px 10px 10px;
  font-size: 0.6rem;
  font-weight: 800;
  color: var(--dark-3);
  background-color: var(--light-1);
  cursor: pointer;
  transition: 250ms;
  width: fit-content;
}
.btn:hover {
  background-color: var(--dark-4);
  color: var(--light-1);
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background-color: var(--light-1-trans);
  color: var(--dark-3);
}
